@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

ion-icon {
    font-size: 31px;
    margin-right: 22px;
    color: #000000;
    cursor: pointer;
}

/* TELA DE LOGIN */
.login {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-login img {
    width: 132px;
    height: 92px;
}

.button {
    height: 45px;
    width: 109px;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    border-radius: 9px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input input {
    height: 54px;
    width: 261px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    font-size: 18px;
    margin-top: 94px;
}

.aviso {
    margin: 10px auto;
    font-size: 18px;
    color: #696969;
}

.loading {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading img {
    height: 100px;
    width: 100px;
}

.loading p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}

/* MENU LATERAL */

.caixa-menu-lateral {
    height: 100%;
    width: 30%;
    position: fixed;
    float: left;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-lateral {
    width: 70%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    float: right;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.topo-menu-lateral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
}

.texto-menu-lateral {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.usuarios,
.tipo-visibilidade,
.todos-usuarios {
    margin: 18px;
}

.usuario,
.todos,
.visibilidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.usuario>ion-icon,
.todos>ion-icon,
.visibilidade>ion-icon {
    font-size: 18px;
    font-weight: bold;
    color: #28BB25;
}

.nome-usuario,
.nome-todos,
.nome-visibilidade {
    height: 36px;
    display: flex;
    align-items: center;
}

.nome-usuario,
.nome-todos,
.nome-visibilidade p {
    font-size: 16px;
}

/* TELA PRINCIPAL */

.topo {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 22px;
}

.conteudo {
    top: 80px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-color: #F3F3F3;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer input {
    width: 100%;
    height: 30px;
    margin-left: 22px;
    border: none;
    font-size: 18px;
}

.message {
    width: 100%;
    border-radius: 2px;
    font-size: 14px;
    background-color: #FFFFFF;
    margin: 4px 0;
    padding: 0 8px;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
}

.message.status {
    background-color: #DCDCDC;
}

.message.private_message {
    background-color: #FFDEDE;
}

.message p {
    margin: 13px 0;
}

.texto-mensagem {
    width: 75%;
}

.texto-mensagem input {
    font-size: 18px;
    color: #000000;
}

.texto-mensagem p {
    font-size: 14px;
    margin: 5px 25px;
    color: #696969;
}

.desaparecer {
    display: none;
}